<a href="https://colab.research.google.com/github/neerajguleria1/FrontendDev-Assignment/blob/main/Day1_Python_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
print('Hii! Neeraj')

Hii! Neeraj

In [4]:
# single line comment
'''this is a multiline
   comment'''
print("hlo")

hlo

In [10]:
#Variable

a=21
print(a)

b=235.44
print(b)

c="Thakur"
print(c)

d=False
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

21
235.44
Thakur
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [13]:
# Valid Invalid var names
-a=10
a@b
5m

TypeError: unsupported operand type(s) for @: 'int' and 'float'

In [16]:
# Case Sensitive in python
name='sujal'
print(Name)#it will not print this because python is case sensitive we have to type name
FirstName="Neeraj"
LastName="Guleria"
print(FirstName+" "+LastName)

NameError: name 'Name' is not defined

In [19]:
# Type Conversion
a=10
print(type(a))
b=float(a)
print(type(b))
c=str(a)
print(type(c))

<class 'int'>
<class 'float'>
<class 'str'>

In [20]:
c="hye"
d=int(c)
print(d)

ValueError: invalid literal for int() with base 10: 'hye'

In [21]:
# Var reintializations
var=10
var="neeraj"
var="false"
print(var)

false

In [30]:
#input Function
var=str(input("enter string "))
print(var)
var2=int(input("enter num"))
type(var2)

enter string arpita
arpita
enter num22

int