<a href="https://colab.research.google.com/github/neerajguleria1/FrontendDev-Assignment/blob/main/Day1_Python_Foundation.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
print('Hii! Neeraj')

Hii! Neeraj

In [1]:
# single line comment
'''this is a multiline
   comment'''
print("hlo")

hlo

In [3]:
#Variable

a=21
print(a)

b=235.44
print(b)

c="Thakur"
print(c)

d=False
print(d)

print(type(a))
print(type(b))
print(type(c))
print(type(d))

21
235.44
Thakur
False
<class 'int'>
<class 'float'>
<class 'str'>
<class 'bool'>

In [4]:
# Valid Invalid var names
-a=10
a@b
5m

SyntaxError: invalid decimal literal (ipython-input-1602942943.py, line 4)

In [ ]:
# Case Sensitive in python
name='sujal'
print(Name)#it will not print this because python is case sensitive we have to type name
FirstName="Neeraj"
LastName="Guleria"
print(FirstName+" "+LastName)

In [ ]:
# Type Conversion
a=10
print(type(a))
b=float(a)
print(type(b))
c=str(a)
print(type(c))

In [ ]:
c="hye"
d=int(c)
print(d)

In [5]:
# Var reintializations
var=10
var="neeraj"
var="false"
print(var)

false

In [6]:
#input Function
var=str(input("enter string "))
print(var)
var2=int(input("enter num"))
type(var2)

enter string huaug
huaug
enter numkg

ValueError: invalid literal for int() with base 10: 'kg'

In [16]:
# Data Type
a=22;
b=23.5
c=a+b;
print(type(c))
print(c)

d="jhhkj"
e=d+str(c)
e

<class 'float'>
45.5

'jhhkj45.5'

In [18]:
# Operators
a=20
b=4
c=a+b
d=a-b
e=a/b
f=a%b
print(c)
print(d)
print(e)
print(f)

24
16
5.0
0

In [20]:
# Comparison Opeartor
a=4
b=5
print(a>b)
print(a<b)
print(a==b)
print(a!=b)

False
True
False
True

In [23]:
# Logical Operator
a=True
b=False
print(a and b)
print(a or b)
print( not b)

False
True
True

In [24]:
# Simple Calculator that take two inputs and return basix arithment operations
a=int(input("enter a number"))
b=int(input("enter other number"))
print(a+b)
print(a-b)
print(a*b)
print(a/b)
print(a%b)

enter a number44
enter other number6
50
38
264
7.333333333333333
2

In [25]:
# Conditional Statements
a=int(input("enter first num"))
b=int(input("enter second num"))
if a>b:
  print("a is greater then b")
else:
  print("b is greater then a")

enter first num56
enter second num7
a is greater then b

In [27]:
# program to find num is even or odd
a=int(input("enter a"))
if a%2==0:
  print("a is even")
else:
  print("a is odd")

enter a11
a is odd